.build
examples/example
examples/tls
examples/multi_threaded
cert.pem
key.pem
*.exe
*.pdb

modules/LibreSSL/.build
modules/LibreSSL/android
modules/LibreSSL/linux
modules/LibreSSL/windows
modules/LibreSSL/linux_shared_build
modules/LibreSSL/linux_shared_install
modules/LibreSSL/linux_static_build
modules/LibreSSL/linux_static_install
modules/LibreSSL/unix.jai
modules/LibreSSL/windows.jai