.build
examples/event_loop
examples/example
examples/tls
examples/multi_threaded
examples/router
examples/websocket
cert.pem
key.pem
*.exe
*.pdb
*.rdi
.vs
*.dSYM

modules/LibreSSL/.build
modules/LibreSSL/android
modules/LibreSSL/linux
modules/LibreSSL/windows
modules/LibreSSL/macos
modules/LibreSSL/*_shared_build
modules/LibreSSL/*_shared_install
modules/LibreSSL/*_static_build
modules/LibreSSL/*_static_install
modules/LibreSSL/unix.jai
modules/LibreSSL/windows.jai
modules/LibreSSL/macos.jai

tests/autobahn/reports/*
tests/autobahn/server